.main{
    display: grid;
    grid-template-rows: auto;
    gap: 3em;
    justify-items: center;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 80vw;
    margin-left: auto;
    margin-right: auto;
    justify-items: center;
}
.card{
    background-color:var(--lightGreen);
    max-width: 18em;
    border-radius: 7px;
    padding: .7em;
    padding-bottom: 2em;
    display: grid;
    grid-template-columns: auto;
    gap: 1em;
    box-shadow: var(--shadow);
    grid-template-rows: min-content 1fr;
    justify-items: center;
    
}

.swiper {
    width: 100%;
    height: 100%;
  }

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
@media only screen and (min-width: 1025px){
    body{
        gap: 5em;
    }
}
